										</div><!-- .entry-content -->
									</div><!-- .wrap -->
								</div><!-- .panel-content -->
							</article><!-- #post-22 -->		
						</main><!-- #main -->
					</div><!-- #primary -->
				</div><!-- #content -->
				<footer id="colophon" class="site-footer" role="contentinfo">
					<div class="my-footer">
						<div class="inline">
							Copyright © <span id="year-copy"></span> Infinitum IT. All rights reserved. | <a href="/privacy-policy" class="green">Privacy Policy</a> | <a href="/data-protection" class="green">Data protection</a> | <a href="/downloadables/Algemene_Voorwaarden_Infinitum_IT.pdf" class="green">Terms and Conditions</a>
						</div><!--
						--><div class="inline">
							
						</div>
					</div>
				</footer><!-- #colophon -->
			</div><!-- .site-content-contain -->
			<script>
				document.getElementById('menu-item-399').children[0].innerHTML='';
				document.getElementById("year-copy").innerHTML = new Date().getFullYear();
			</script>
		</div><!-- #page -->
	</body>
</html>