<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Infinitum IT - We can help you to do IT right!</title>

    <!-- Bootstrap -->
    <link href="/css/style.css?v=<%=new Date().getTime()%>" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <link rel="apple-touch-icon" href="/favicon.png">
    <meta property="og:title" content="Infinitum IT - We can help you do IT right!" />
    <meta property="og:url" content="https://infinitum-it.com" />
    <meta property="og:image" content="https://infinitum-it.com/images/Infinitum-IT-OG.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Infinitum IT provides solutions for small and medium-sized business that are not big enough to have an IT department but still want to benefit from Enterprise IT solutions." />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body class="home page-template-default page page-id-22 wp-embed-responsive twentyseventeen-front-page page-one-column title-tagline-hidden colors-light">
  <div id="page" class="site">
    <header id="masthead" class="site-header" role="banner">
      <div class="custom-header">
        <div class="site-branding">
          <div class="wrap">
            <div class="site-branding-text">
                <h1 class="site-title"><a href="https://infinitum-it.com/" rel="home">Infinitum IT</a></h1>
        
                <p class="site-description">We can help you to do IT right!</p>
            </div><!-- .site-branding-text -->
          </div><!-- .wrap -->
        </div><!-- .site-branding -->
      </div><!-- .custom-header -->
      <div class="navigation-top">
        <div class="wrap">
          <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Top Menu">
            <button class="menu-toggle" aria-controls="top-menu" aria-expanded="false"><svg class="icon icon-bars" aria-hidden="true" role="img"> <use href="#icon-bars" xlink:href="#icon-bars"></use> </svg><svg class="icon icon-close" aria-hidden="true" role="img"> <use href="#icon-close" xlink:href="#icon-close"></use> </svg>Menu </button>
            <div class="menu-primary-menu-container">
              <ul id="top-menu" class="menu">
                <li id="menu-item-399" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-399">
                  <a href="/" aria-current="page"></a>
                </li>
                <li id="menu-item-385" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-22 current_page_item menu-item-385">
                  <a href="/" aria-current="page">Home</a>
                </li>
                <li id="menu-item-391" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-391" onclick="subMenu(this,2)" data-opened="0">
                  <a href="#">Company<svg class="icon icon-angle-down" aria-hidden="true" role="img"> <use href="#icon-angle-down" xlink:href="#icon-angle-down"></use> </svg></a>
                  <ul class="sub-menu">
                    <li id="menu-item-390" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-390">
                      <a href="/company-introduction">Introduction</a>
                    </li>
                    <li id="menu-item-389" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-389">
                      <a href="/who-are-we">Who Are We?</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-388" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-388">
                  <a href="/contact">Contact</a>
                </li>
                <li id="menu-item-392" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-392" onclick="subMenu(this,3)" data-opened="0">
                  <a href="#">Solutions<svg class="icon icon-angle-down" aria-hidden="true" role="img"> <use href="#icon-angle-down" xlink:href="#icon-angle-down"></use> </svg></a>
                  <ul class="sub-menu">
                    <li id="menu-item-387" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-387">
                      <a href="/managed-services/">Managed Security Services</a>
                    </li>
                    <li id="menu-item-396" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-396">
                      <a href="/technical-support/">Technical Support</a>
                    </li>
                    <li id="menu-item-395" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-395">
                      <a href="/consultancy-and-training/">Consultancy and Training</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-394" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-394">
                  <a href="/partners">Partners</a>
                </li>
                <li id="menu-item-393" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-393">
                  <a href="/downloads">Downloads</a>
                </li>
              </ul>
            </div>
          </nav> <!--#site-navigation -->
      </div><!-- .wrap -->
    </div><!--navigation-top-->
    </header><!-- #masthead -->
    <div class="responsive responsive-nav">
      <table>
        <td style="text-align:left;">
          <img style="vertical-align:middle;" onclick="window.location='/'" src="/images/Responsive-Logo.png">
        </td>
        <td class="responsive-headline">
          Infinitum IT
        </td>
        <td style="text-align:right">
          <div style="position:relative" id="menu-icon" onclick="openMenu()">
            <div id="top-border"></div>
            <div id="middle-border"></div>
            <div id="bottom-border"></div>
          </div>
          <script>
            function openMenu(){
              if(document.getElementsByClassName("navigation-top")[0].classList.contains("openedMenu")){
                //Close menu
                document.getElementsByClassName("navigation-top")[0].classList.remove("openedMenu");
                document.getElementById("middle-border").style.opacity="1";
                document.getElementById("top-border").style.transform="rotate(0deg)";
                document.getElementById("bottom-border").style.transform="rotate(0deg)";
              }else{
                //Open Menu
                document.getElementsByClassName("navigation-top")[0].classList.add("openedMenu");
                document.getElementById("middle-border").style.opacity="0";
                document.getElementById("top-border").style.transform="rotate(-35deg)";
                document.getElementById("bottom-border").style.transform="rotate(35deg)";
              }
            }
            
            for(var i=0;i<document.getElementsByClassName("menu-item-has-children").length;i++){
              var numberOfChildren  = document.getElementsByClassName("menu-item-has-children")[i].getElementsByClassName("menu-item").length;
              document.getElementsByClassName("menu-item-has-children")[i].setAttribute("onclick","subMenu(this,"+numberOfChildren+")");
              document.getElementsByClassName("menu-item-has-children")[i].setAttribute("data-opened",0);
            }
            
            function subMenu(elem,numOfElems){
              if(document.getElementsByClassName("navigation-top")[0].classList.contains("openedMenu")){
                if(Number(elem.dataset.opened)==1){
                  //Close the menu
                  elem.dataset.opened=0;
                  elem.getElementsByClassName("sub-menu")[0].style.height="0px";
                  elem.getElementsByClassName("sub-menu")[0].style.display="none";
                  elem.style.marginBottom="0px";
                  elem.style.backgroundImage= "url(/images/menu-items-bckg.png)";
                  elem.getElementsByTagName("A")[0].style.color="rgb(118,118,118)";
                }else{
                  elem.dataset.opened=1;
                  elem.style.marginBottom=eval(40*numOfElems)+"px";
                  elem.getElementsByClassName("sub-menu")[0].style.height=eval(40*numOfElems)+"px";
                  elem.style.backgroundImage= "url(/images/menu-items-bckg-green.png)";
                  elem.getElementsByTagName("A")[0].style.color="rgb(255,255,255)";
                  elem.getElementsByClassName("sub-menu")[0].style.display="block";
                }
              }
            }
          </script>
        </td>
      </table>
    </div>
    <div class="site-content-contain">
      <div id="content" class="site-content">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">
            <article id="post-22" class="twentyseventeen-panel  post-22 page type-page status-publish hentry" >
              <div class="panel-content">
                <div class="wrap">
                  <div class="entry-content">
      