<%- include ("partials/header") -%>
	<div class="page-header" style="background-image:url(/images/Infinitum-IT-Company-Header.jpeg);"></div>
	<div class="header-triangle"></div>
	<div class="content">
		<div class="light-medium-text center" style="margin:20px 0;">
	    	Infinitum IT was founded in 2010 with the mission to provide solutions for small and medium-sized business that are not big enough to have an IT department but still want to benefit from Enterprise IT solutions. Since then, we have been working hard to make the name "Infinitum IT" synonymous with high quality solutions that are to the point, simple, and fitting the needs of the client.
	    </div>
		<table class="intro-table">
			<tbody>
				<tr>
					<td class="v-middle" style="width:56%;padding-bottom:20px;">
						<div class="bold-small-text left" style="padding-right:20px;">
					    	We believe in working closely together with our clients to conceive, deploy, exploit and evolve architectures and computer adapted solutions. With a combined technical-commercial mindset, we are able to take control of critical situations, manage projects and understand large scale technical issues and of course, setup a step-by-step- plan towards resolution. Our specialties: In depth fault correlation and diagnose, creating overview, assessing risks and threats, video security systems, standardizing procedures, creating and maintaining documentation, and above all: working precise!
							&nbsp;
							Infinitum IT is a member of the ICT.cafe group. ICT.cafe is an umbrella organization in which smaller entrepreneurs with various disciplines in the field of ICT seek connection with each other by using standard tools and methods. The name ICT.cafe has been chosen because people generally have a positive emotion with the word cafe, and that is the emotion that we would like to associate with your IT experience. Within the ICT.cafe group, technical challenges can be addressed, knowledge can be shared, and agreements can be made to take over urgent matters during holiday periods.
						</div>
					</td>
					<td class="v-bottom">
				    	<img src="/images/Infinitum-Technology-Tree.png" style="display:block;">
				    </td>
				</tr>
			</tbody>
		</table>
	</div>
	<div style="background-color:#367b22;margin-top:-2px;">
		<div class="content">
    		<img src="/images/Infinitum-IT-World-Wide.png">
    	</div>
	</div>
<%- include ("partials/footer") -%>