<%- include ("partials/header") -%>
	<div class="page-header" style="background-image:url(/images/Infinitum-IT-Consultancy-Header.jpeg);"></div>
	<div class="header-triangle"></div>
	<div class="content">
		<div class="light-medium-text center" style="margin:20px 0px;">
		      We can help you with your IT projects. Whether this is an installation of a firewall or server, a migration to a cloud based solution or a WiFi roll-out we are more than happy to assist!</div>
		<table class="story-service">
			<tbody>
				<tr>
					<td class="center v-middle" style="width:400px;">
				    	<img src="/images/classroom-training.jpeg">
				    </td>
					<td class="left v-middle" style="padding-left: 50px;">
						<div class="bold-small-text">
				            Our service doesn’t stop there. We are also capable of providing you with the right advice, and providing (classroom) training on numerous subjects.
				        </div>
						<div style="text-align:center;margin-top:20px;">
				            <img src="/images/Infinitum-IT-Header.png">
				        </div>
				    </td>
				</tr>
			</tbody>
		</table>
	</div>
<%- include ("partials/footer") -%>