<%- include ("partials/header") -%>
	<div class="page-header" style="background-image:url(/images/Infinitum-IT-Contact-Header.jpeg);"></div>
	<div class="header-triangle"></div>
	<div class="content" style="margin-top:25px;">
		<table class="contact-table">
			<tbody>
				<tr>
					<td style="font-weight:bold;">
						Curious about how we could assist your business? We’re more than happy to have an open conversation about what we could do for you! Please contact us, we are fluent in Dutch, English and Spanish!
					</td>
					<td>
						<!--
						<div class="green"><strong>Company Address:</strong></div>
						<div style="margin-left:20px;">
						            Voornestraat 23
						5628 JC Eindhoven
						The Netherlands</div>
						-->
						<div class="green"><strong>Contact Information:</strong></div>
						<div style="margin-left:20px;">
							<div>
								<a href="tel:+31652216059"><img src="/images/phone-ico.png" class="v-middle"><span class="v-middle"> : +31 (0)65 221 6059</span></a>
							</div>
							<div>
								<a href="mailto:info@infinitum-it.nl"><img src="/images/e-mail-icon.png" class="v-middle"><span class="v-middle"> : info@infinitum-it.com</span></a>
							</div>
						</div>
						<div class="green" style="margin-top:20px;"><strong>Company Information:</strong></div>
						<div style="margin-left:20px;">
							Infinitum IT
							Chamber of Commerce Registration: 50435841</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
<%- include ("partials/footer") -%>