<%- include ("partials/header") -%>
   <div class="page-header" style="background-image:url(/images/Security.jpeg);"></div>
   <div class="header-triangle"></div>
   <div class="content light-medium-text center">
      We always consider your information confidential. We work according to the GDPR standard (AVG in Dutch) and we setup and sign a processing agreement with both our clients and suppliers, so it’s clear that we always handle (personal) data we have access to in a proper way.
   </div>
<%- include ("partials/footer") -%>