<%- include ("partials/header") -%>
	<div class="page-header" style="background-image:url(/images/Infinitum-IT-Download-Header.jpeg);"></div>
	<div class="header-triangle"></div>
	<div class="content">
		<table class="download-table" style="margin-top:40px;">
			<tbody>
				<tr>
					<td>
						<div class="download-title">Managed Services Agent</div>
						<div class="download-text">
							This agent provides basic information about the hardware that you work with, and allows us to remotely support you upon your request. Installing this agent is free of charge, and therefore we recommend you to install it on all hardware. This agent is also the basis for all further (paid) Managed Security Services such as Monitoring, Endpoint Protection and Online Backup.
						</div>
					</td>
					<td>
						<a class="download-button" href="/downloadables/Managed_Services_Agent.msi" style="font-size: 26px; line-height: 26px;margin-bottom:10px;">Download<br>(Windows)</a>
						<a class="download-button" href="/downloadables/managed_services_agent_OSX.zip" style="font-size: 26px; line-height: 26px;margin-top:10px;">Download<br>(Mac)</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="separator"></div>
		<table class="download-table">
			<tbody>
				<tr>
					<td>
						<div class="download-title">CheckPoint VPN client</div>
						<div class="download-text">
							You need this installer to get access to your CheckPoint VPN solution. Follow the installation guide that’s written for your environment.
						</div>
					</td>
					<td>
				    	<a class="download-button" href="/downloadables/CheckPointVPN_client.msi">Download</a>
				    </td>
				</tr>
			</tbody>
		</table>
		<div class="separator"></div>
		<table class="download-table">
			<tbody>
				<tr>
					<td>
						<div class="download-title">OpenVPN client</div>
						<div class="download-text">
				            You need this installer to get access to your OpenVPN solution. Follow the installation guide that’s written for your environment.
				        </div>
				    </td>
					<td>
				    	<a class="download-button" href="/downloadables/openvpn_client.exe">Download</a>
				    </td>
				</tr>
			</tbody>
		</table>
		<div class="separator"></div>
		<table class="download-table">
			<tbody>
				<tr>
					<td>
						<div class="download-title">Terms and Conditions (in Dutch)</div>
						<div class="download-text"></div>
					</td>
					<td>
				    	<a class="download-button" href="/downloadables/Algemene_Voorwaarden_Infinitum_IT.pdf">Download</a>
				    </td>
				</tr>
			</tbody>
		</table>
	</div>
<%- include ("partials/footer") -%>