<%- include ("partials/header") -%>
<div style="position:relative;" class="home">
	<div id="particles-js">
		<div class="particles-absolute">
			<img class="logo" src="/images/Head-Logo.png">
			<h1 class="header-title">We can help you do IT right!</h1>
		</div>
	</div>
	<div class="home-boxes-wrap">
		<div class="home-box" onclick="window.location.href='/managed-services'">
			<div class="grey-bkcd"></div>
			<div class="green-bkcd"></div>
			<div class="grey-image">
				<img src="/images/Managed-Services-white2.png">
			</div>
			<div class="green-image">
				<img src="/images/Managed-Services2.png">
			</div>
		</div>
		<div class="home-box" onclick="window.location.href='/technical-support'">
			<div class="grey-bkcd"></div>
			<div class="green-bkcd"></div>
			<div class="grey-image">
				<img src="/images/Technical-Support-white.png">
			</div>
			<div class="green-image">
				<img src="/images/Technical-Support.png">
			</div>
		</div>
		<div class="home-box" onclick="window.location.href='/consultancy-and-training/'">
			<div class="grey-bkcd"></div>
			<div class="green-bkcd"></div>
			<div class="grey-image">
				<img src="/images/Training-and-Consulting-white.png">
			</div>
			<div class="green-image">
				<img src="/images/Training-and-Consulting.png">
			</div>
		</div>
	</div>
</div>
<p style="height:0px;">
<style>canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ text-align:center; position:relative; width: 100%; height:672px;margin:0 auto; padding-top:126px; background-image: url("/images/Infinitum-IT-Header.jpeg"); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }</style></p>
<script src="/js/particles.js"></script>
<p style="height:0px;"><script>particlesJS("particles-js", {"particles":{"number":{"value":50,"density":{"enable":true,"value_area":800}},"color":{"value":"#ffffff"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":5},"image":{"src":"img/github.svg","width":100,"height":100}},"opacity":{"value":0.4419226793140727,"random":false,"anim":{"enable":false,"speed":1,"opacity_min":0.1,"sync":false}},"size":{"value":3,"random":true,"anim":{"enable":false,"speed":10,"size_min":0.1,"sync":false}},"line_linked":{"enable":false,"distance":150,"color":"#ffffff","opacity":0.4,"width":1},"move":{"enable":true,"speed":3,"direction":"none","random":false,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":false,"rotateX":600,"rotateY":1200}}},"interactivity":{"detect_on":"canvas","events":{"onhover":{"enable":false,"mode":"repulse"},"onclick":{"enable":false,"mode":"push"},"resize":true},"modes":{"grab":{"distance":400,"line_linked":{"opacity":1}},"bubble":{"distance":400,"size":40,"duration":2,"opacity":8,"speed":3},"repulse":{"distance":200,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true});var count_particles, update; count_particles = document.querySelector('.js-count-particles'); update = function() {  if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {  } requestAnimationFrame(update); }; requestAnimationFrame(update);</script></p>
<%- include ("partials/footer") -%>