<%- include ("partials/header") -%>
   <div class="page-header" style="background-image:url(/images/Story-Services.jpeg);"></div>
   <div class="header-triangle"></div>
   <div class="content">
      <div class="light-medium-text center" style="margin:20px 0;">
         Protection of sensitive data is very important. But how can you do that as a small to medium sized business without a security department? We at Infinitum IT believe that high quality solutions should be scalable and hassle free!
      </div>
      <table class="story-service">
         <tbody>
            <tr>
               <td class="center v-top" style="width:400px;">
                  <div class="story-service-b v-top">
                     <img src="/images/protection.png">
                     <h2>Data Protection</h2>
                  </div>
               </td>
               <td class="left v-top" style="padding-left: 50px;">
                  <div class="bold-small-text">
                     More than often, protecting data does not get the right amount of attention, despite of the responsibilities anyone storing personal data must meet. Virus scanners of poor quality, outdated software and very little to no security best practices are being used. Rarely anyone checks if the definitions of virus scanners are updating or working well in general. Are you deferring Security updates and manually taking backups? You are not alone. Unfortunately, in most cases people only realize the importance when the damage is done and data is lost or leaked, and always the damage is bigger than expected.
                     &nbsp;
                     We can help you to identify risks, and setup a clear action plan towards improvement!
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
      <div class="separator"></div>
      <div class="light-medium-text center" style="margin:20px 0;">
         Infinitum IT provides a portfolio of products and services to help you keep your data safe and secure, allowing us to:
      </div>
      <table class="list-table">
         <tbody>
            <tr>
               <td>
                  <ul>
                     <li>Keep vulnerabilities out of your network by implementing managed firewall and endpoint protection, updating software, and filtering out access requests to malicious locations on the web.</li>
                     <li>Provide safe (remote) access to your onsite- or cloud data.</li>
                     <li>Assist with implementing and following best practices towards security while maintaining useability.</li>
                  </ul>
               </td>
               <td>
                  <ul>
                     <li>Monitor hardware and software for security incidents around the clock.</li>
                     <li>Set up a backup plan for disaster recovery reducing loss of profit due to services/data not being available for extensive periods of time.</li>
                  </ul>
               </td>
            </tr>
         </tbody>
      </table>
      <div class="light-medium-text center" style="margin:20px 0;">
         We distinguish product offering between “protection per user”, “protection per endpoint” and “protection per site” and have established attractive all-including packages for these models.
         &nbsp;
         We gladly provide you with more information and a free offer meeting your specific needs!
      </div>
   </div>
<%- include ("partials/footer") -%>