<%- include ("partials/header") -%>
	<div class="page-header" style="background-image:url(/images/Infinitum-IT-Partners-Header.jpeg);"></div>
	<div class="header-triangle"></div>
	<div class="content center">
		<div class="light-medium-text center" style="margin:20px 0">We are proud to be official technology partner and reseller of the following brands</div>
		<table class="partnerTable" style="max-width:600px;margin:0 auto">
			<tbody>
				<tr>
					<td><img src="/images/ms.png" style="max-width:150px;"></td>
					<td><img src="/images/aruba.png" style="max-width:150px"></td>
					<td><img src="/images/sentinel.png" style="max-width:150px"></td>
				</tr>
				<tr>
					<td><img src="/images/hp.png" style="max-width:150px"></td>
					<td><img src="/images/cp.png" style="max-width:150px"></td>
					<td><img src="/images/dns.jpeg" style="max-width:150px"></td>
				</tr>
				<tr>
					<td><img src="/images/dell.png" style="max-width:150px"></td>
					<td><img src="/images/eizo.jpeg" style="max-width:150px"></td>
					<td><img src="/images/silver.jpeg" style="max-width:150px"></td>
				</tr>
				<tr>
					<td></td>
					<td><img src="/images/keeper.png" style="max-width:150px"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
<%- include ("partials/footer") -%>