<%- include ("partials/header") -%>
	<div class="page-header" style="background-image:url(/images/Security.jpeg);"></div>
	<div class="header-triangle"></div>
	<div class="content light-medium-text center">
  		This website collect user data in the form of pages that are accessed, which browser that is being used, and from which IP address the site is accessed. This site does not use any cookies, or otherwise stores data on your computer for identification purposes. The collected data is being used for statistics only and does not include any other personal information.
  	</div>
<%- include ("partials/footer") -%>