<%- include ("partials/header") -%>
	<div class="page-header" style="background-image:url(/images/Infinitum-IT-Technical-Support-Header.jpeg);"></div>
	<div class="header-triangle"></div>
	<div class="content">
		<div class="light-medium-text center" style="margin:20px 0px;">
			We are looking forward to become a (virtual) part of your team and help you with your support questions!
		</div>
		<table class="text-table">
			<tbody>
				<tr>
					<td>
						<div class="bold-small-text">After an introduction meeting, in which we like to discuss your wishes, your IT environment and understand how you depend on this environment in order to run your business, we are ready to get started.We believe in a transparent way of working, and giving you full insight in your environment while at the same time relieving you from any hassle. How do we do that? For example by properly documenting your environment and making this documentation available to you. And also by providing you with tools, such as our helpdesk system, on which we are able to keep track of all your organizations tickets, and give insight in the status of all open cases.</div>
					</td>
					<td>
						<div class="bold-small-text">In addition, we have a continuously growing Self-help Center in which you can find instructions to resolve a wide variety of issues yourself. We encourage you to install our free of charge <a class="green" href="/downloads/">Managed Services client</a> available in the <a class="green" href="/downloads/">download section</a> across your entire environment, so we are able to assist you remotely. All you need is a connection with the internet. Of course we can also come to you for assistance if needed.</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
<%- include ("partials/footer") -%>