<%- include ("partials/header") -%>
	<div class="page-header" style="background-image:url(/images/infinitu-it-who-we-are.jpeg);"></div>
	<div class="header-triangle"></div>
	<div class="content" style="margin-top:25px;">
		<div>
			<img src="/images/quote-it.jpeg" style="display:block;">
		</div>
		<div class="quote center">
	    	Who are we?
	    </div>
	</div>
	<div class="content" style="margin-top:40px;">
		<table class="team-table team-table-left">
			<tbody>
				<tr>
					<td class="center v-top" style="width:240px;">
				    	<img src="/images/Wim-Werkhoven-Infinitum-IT2.jpeg" style="display:block;border:4px solid rgb(59,128,39);border-radius:1px;">
				    </td>
					<td class="left v-top" style="width:300px;padding-left:30px">
						<div class="green" style="font-size:20px;">Wim Werkhoven</div>
						<div style="margin-left:20px;font-size:14px;font-family:'Calibri Light';font-style:italic;">Founder and Senior Consultant</div>
						<div style="margin-left:20px">
							<div class="skill-button">Networks</div>
							<div class="skill-button">Servers</div>
							<div class="skill-button">Security and Surveillance</div>
							<div class="skill-button">Disaster Recovery</div>
							<div class="skill-button">Management</div>
							<div class="skill-button">Training</div>
							<div class="skill-button">Coaching</div>
							<div class="skill-button">Managed services</div>
						</div>
					</td>
					<td class="left v-top">
				    	Passionate about technology, life-long learner and enjoys creating success. Likes to create synergies that add value for small to medium-sized business. Has a successful track record of managing projects and teams, creating technical overview and actionable steps towards resolution of complex problems.
				    </td>
				</tr>
			</tbody>
		</table>
		<div class="team-separator"></div>
		<table class="team-table team-table-right">
			<tbody>
				<tr>
					<td class="right v-top">
				    	Self-motivated and organized administrative/finance professional with over 20 years of experience. Holds a bachelor’s degree in accounting and a Master’s degree in Environmental Economics. Likes to set a high standard for quality and precision.
				    </td>
					<td class="right v-top" style="width:300px;padding-right:30px">
						<div class="green" style="font-size:20px;">Feliciana Espinal Miguel</div>
						<div style="margin-left:20px;font-size:14px;font-family:'Calibri Light';font-style:italic;">Financial Administrator</div>
						<div style="margin-left:20px">
							<div class="skill-button">Finance Administration</div>
							<div class="skill-button">Business Strategy</div>
							<div class="skill-button">Budget Planning</div>
						</div>
					</td>
					<td class="center v-top" style="width:240px;">
				    	<img src="/images/Feliciana-Espinal-Miguel-2.jpeg" style="display:block;border:4px solid rgb(59,128,39);border-radius:1px;">
				    </td>
				</tr>
			</tbody>
		</table>
	</div>
<%- include ("partials/footer") -%>